body {
    color: white;
    background-color: #213643;
    padding-top: 65px;
}

h1, h2, h3 {
    font-family: Georgia, Cambria, "Times New Roman", cursive;
}

table {
    border: solid 1pt black;
    padding-bottom: 65px;
}
td {
    border: solid 1pt black;
    padding: 5pt;
}

.won {
    background-color: #42b77d ;
}

.nominated {
    background-color: #91817f ;
}

hr.solid {
    opacity: .50;
    border-top: 3px solid #bbb;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.timeline {
    color: #fff;
    background-color: #ff0000;
    position: absolute;
    width: 100%;
    height: 25px;
    top: 50%;
    justify-content: center;
    justify-items: center;
}

.timeline-line {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 7px;
    top: 9px;
}

.timeline-point {
    position: absolute;
    background-color: #00ff00;
    left: 25px;
    min-width: 12px;
    min-height: 12px;
    max-width: 25px;
    max-height: 25px;
}

.page_navbar {
    display: grid;
    text-align: center;
}

.nav_a {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.nav_b {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.nav_c {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.nav_d {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.listen_alb_bar {
    display: grid;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 50px;
    float:left; 
}

.listen_alb_1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.listen_alb_2{
    margin-top: 10px;
    height: 53px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}