body {
    color: white;
    background-color: #213643;
    padding-top: 65px;
}

h1, h2, h3 {
    font-family: Georgia, Cambria, "Times New Roman", cursive;
}

.listen_alb_bar {
    background-color: #183040;
    border-radius: 10px;
    border: 2px solid;
    border-color: #183040;
    padding: 10px;
    display: grid;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 50px;
    float: left; 
}

.listen_alb_1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.listen_alb_2{
    margin-top: 10px;
    height: 53px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

@media (max-width: 800px) {
    .navbar {
        position: block;
        top: 0px;
        margin-top: 0px;
        margin-bottom: 425px;
        z-index: 0;
    }
    .navbar-fixed-top {
        position: block;
        top: 0px;
        margin-top: 0px;
        margin-bottom: 425px;
        z-index: 0;
    }
    .navbar-inverse {
        position: absolute;
        display:flex;
        top: 0px;
        z-index: 0;
    }
    body {
        padding-top: 425px;
    }
}
