body {
    color: white;
    background-color: #213643;
    padding-top: 65px;
}
h1, h2, h3 {
 font-family: Georgia, Cambria, "Times New Roman", cursive;
}

table {
    border: solid 1pt black;
}
td {
    border: solid 1pt black;
    padding: 5pt;
}
