body {
    color:#213643;
    background-color: #213643;
    padding-top: 65px;
}

h1, h2, h3 {
    font-family: Georgia, Cambria, "Times New Roman", cursive;
}

.headerdiv {
  background-color: white;
  margin: 60px;
  border-radius:10px;
  padding: 30px;
}
